.calculated-costs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.calculated-costs-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 60%;
    background-color: #dacfa7;
    border-radius: 8px;
    color: #4f3e0f;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 3px rgb(69, 115, 153);
    border: 2px solid rgb(69, 115, 153);
    padding: 10px;
}

.calculated-costs-item {
    display: flex;
    align-items: center;
    gap: 2px;
}

.research-table tr {
    height: 40px;
    vertical-align: middle;
}

.research-table th, .research-table td {
    padding: 0 8px;
    text-align: center;
}