.quest-connector-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11px;
    margin: 4px;
    margin-top: -3.5px;
    margin-bottom: -8.5px;
}

.quest-connector {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: linear-gradient(to bottom, transparent, #457399, #457399, #457399, transparent);
}