.btn-layouts-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-layouts {
    background-color: #3e7bad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-layouts:hover {
    background-color: #2c5d80;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.modal-content.layouts-modal {
    background: #ebe4cc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    border: 7px solid #3e7bad;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.btn-close-modal {
    background-color: #3e7bad;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-close-modal:hover {
    background-color: #2c5d80;
}

.layouts-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: 45%;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    max-height: 150px;
}

.image-container p {
    margin-top: 10px;
    font-weight: bold;
}

.image-container:hover img {
    transform: scale(1.05);
}